<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>


<body>
    <div id="app">
        <input type="text" @input="handleInput" v-model="val" />
        <ul v-for="item in arrList">
            <li>{{item}}</li>
        </ul>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            arrList: ["aa", "bb", "ba", "vcc", "dd"],
            List: ["aa", "bb", "ba", "vcc", "dd"],
            val: ""
        },
        methods: {
            handleInput() {
                console.log(this.val);
                //利用输入框的值  过滤包含的字段
                //filter 过滤
                let newList = this.List.filter(item => {
                        return item.indexOf(this.val) > -1
                    })
                    // console.log(newList);
                this.arrList = newList

            }
        }
    })
</script>

</html>