<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>


<body>
    <div id="app">
        <input type="text" v-model="val" />
        <ul v-for="item in getList">
            <li>{{item}}</li>
        </ul>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            arrList: ["aa", "bb", "ba", "vcc", "dd"],
            val: ""
        },
        computed: {
            getList() {
                return this.arrList.filter(item => {
                    return item.indexOf(this.val) > -1
                })
            }
        }
    })
</script>

</html>